pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

.MathJax
  outline:0;

@keyframes bonce {
  0%{ transform: rotate(0deg) }
  100%{ transform: rotate(360deg) }
}

.hero
  img
    border-radius 50%
    box-shadow 0px 0px 25px #00000036
    animation-name bonce
    animation-duration 5s
    animation-iteration-count 100
    animation-timing-function linear

.pubqr
  text-align center
  width: 200px
  height: 300px
  margin: 0 auto
